@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.title-padding {
    padding-right:  100px;
    padding-left: 150px;
}

.title-fs {
    font-size: 70px;
}

.card {
    height: 500px;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.list-unstyled li a:hover {
    text-decoration: underline;
}

.bg-transparent {
    background-color: rbga(0,0,0,0) !important;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


@media (max-width: 1400px) {
    .title-padding {
        padding-right:  50px;
        padding-left: 50px;
    }

    .title-fs {
        font-size: 55px;
    }
}

@media (max-width: 576px) {
    .title-padding {
        padding-right:  50px;
        padding-left: 50px;
    }

    .title-fs {
        font-size: 40px;
    }
}
